ion-content {
    --background: #72a82e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.d-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}


.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}


app-logo {
    margin-bottom: 25px;
    display: block;
    text-align: center;
}


app-custom-input {
    margin-bottom: 20px;
}


.validators {
    color: #0a0909;
    font-size: 14px;
    margin-bottom: 15px;
}


ion-button {
    margin-top: 15px;
    --color: #ffffff;
}

ion-button.submit {
    background-color: #3d572e;
    color: #ffffff;
    font-weight: bold;
}

ion-button.submit:disabled {
    background-color: #9e9e9e;
}

ion-button[fill="outline"] {
    --border-color: #3d572e;
    --color: #3d572e;
}


p {
    text-align: center;
    margin-top: 15px;
    color: #3d572e;
    cursor: pointer;
}


app-header {
    background: #004d00;
    color: #ffffff;
    padding: 15px;
}

app-header title {
    color: #ffffff;
}